ansible             # Ansible package
bcrypt              # required for sshkey & VSFTDd user creation
passlib             # required for VSFTDd user creation
botocore            # AWS
boto3               # AWS
ciscoisesdk         # ISE Python SDK for Ansible modules
jmespath            # JSON queries
paramiko            # Ansible SSH
