{##############################################################################
  Template of ISE Port Status from a list of dicts
  | Port | Status | Timeout | Message |
##############################################################################}

| {{ "{:^5}".format('Port') }} | {{ "{:^9}".format('Status') }} | {{ "{:^7}".format('Timeout') }} | {{ "{:<40}".format('Message') }} |
|{{ "{:^}".format('-'*7) }}|{{ "{:^}".format('-'*11) }}|{{ "{:^}".format('-'*9) }}|{{ "{:^}".format('-'*42) }}|
{% for port in port_status %}
| {{ "{:>5}".format(port.item) }} | {{ "{:^8}".format( (port.failed == false) | ternary('✅','❌')) }} | {{ "{:^7}".format(port.elapsed) }} | {{ "{:<40}".format( (port.msg == None) | ternary('-',port.msg) ) }} |
{% endfor %}

